
  html, body {
    height: 100%;
    margin: 0;
  }
* {
    margin: 0px;
    padding: 0px;
}
  body {
     background: darksalmon;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  canvas {
    border: 60px solid pink;
  }
